version: '3.7'

services:
    nextjs:
        container_name: nextjs

        build: ./nextjs

        command: npm run dev

        volumes:
            - ./nextjs:/usr/src/nextjs

        ports:
            - 3000:3000

    django:
        container_name: django

        build: ./django

        command: python manage.py runserver 0.0.0.0:8000

        volumes:
            - ./django:/usr/src/django

        environment:
            # 1ならデバックモード
            - DEBUG=1
            # setting.pyに記載されているSECRET_KEYを記入
            - SECRET_KEY=hoge

        ports:
            - 8000:8000
