/* ===============================================
sideViewAnime */

.asideContent {
    display: block;
    height: 93vh;
    overflow-y: scroll;
    overflow-x: visible;
    font-size: 0.75rem;
    margin-top: 20px;
    position: fixed;
    top: 2%;
    left: 20%;
}

/* .asideContent::before {
    width: 100%;
    height: 99vh;
    content: "";
    background: linear-gradient(rgba(0,0,0,1)0%, rgba(0,0,0,0)3%, rgba(0,0,0,0)87%, rgba(0,0,0,1)93%);
    position: fixed;
    z-index: 10;
} */

.asideContent::after {
    width: 100%;
    height: 99vh;
    content: "";
    display: block;
    position: fixed;
    z-index: 10;
}

.asideContent::-webkit-scrollbar-track {
    background: #aaa;
    background: rgba(0, 0, 0, 0);
}

.asideContent::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
}


.sideViewAnime {
    display: flex;
    background-color: hsla(0, 0%, 100%, 0.08);
    margin-top: 13px;
}

.sideViewAnime img {
    filter: brightness(103%);
}

.sideViewAnime:first-child {
    margin-top: 10vh;
}

.sideViewAnime:last-child {
    margin-bottom: 40vh;
}

.sideViewAnimeDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
}

.falseScrollView {
    display: none;
}

.trueScrollView {
    display:true
}

/* =================================================
スクロール*/

.horizontalList {
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 5px;
}

.horizontalList .item {
    /* 横スクロール用 */
    display: inline-block;
    margin: 10px;
}
