/* ============================================
Recommend Contents */
.recommendContents {
    height: 100vh;
}

.reload_icon {
    background-color: #212121;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 5%;
}

.reload_icon img {
    padding-top: 6px;
}

/* ==============================================
Recommend Sort */
.recommendSort {
    display: flex;
    width: 18%;
    flex-direction: column;
    position: fixed;
    top: 180px;
    right: 3.5%;
    z-index: 10;
    text-align: right;
    border-right: 7px solid #FF1700;
}

.recommendSort p {
    font-weight: bold;
    font-size: 1.05rem;
    color: #FF1700;
    padding-right: 10px;
}

.recommendSort .watchers {}

.recommendSort .genre {}

.recommendSort .value {}

.recommendSort .japanese_order {}

.scrollItems {
    display: flex;
    flex-direction: column;
}

.scrollItems li {
    margin-top: 10px;
}

/* ===============================================
Recommend Content */

.recommendContent {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 94%;
    padding-top: 110px;
}

.recommendContentTitleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 5px solid #F9D371;
    width: 98%;
    margin: 0 auto 25px auto;
    gap: 10px;
}

.recommendContentTitle {
    color: #F9D371;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 40px;
}

.viewAnimeWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.viewAnimeGround {
    background-color: hsla(0, 0%, 100%, 0.08);
    padding: 3px;
}

.viewAnime {
    display: flex;
    flex-direction: column;
    width: 195px;
    margin: 15px;
}

.viewAnime img {
    filter: brightness(103%);
}

.viewAnime h3 {
    font-size: 0.85rem;
    text-decoration: underline;
    margin-bottom: 10px;
}

.viewAnime p {
    margin: 6px;
    font-size: 0.8rem;
}

/* ======================================================
select btn */

.selectFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.selectFlex span {
    font-size: 0.9rem;
}

.cp_ipselect {
    overflow: hidden;
    width: 100px;
    text-align: center;
}

.cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}

.cp_ipselect select::-ms-expand {
    display: none;
}

.cp_ipselect.cp_sl03 {
    position: relative;
    border-radius: 2px;
    border: 2px solid #212121;
    background: #212121;
}

.cp_ipselect.cp_sl03::before {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #212121;
    pointer-events: none;
}

.cp_ipselect.cp_sl03 select {
    padding: 1px 18px 2px 8px;
    color: #fff;
    font-size: 0.9rem;
    background-color: #212121;
}
