html,
body {
  color: #fff;
  background-color: #000;
  font-size: 17px;
  font-family: 'Outfit', 'Noto Sans JP', 'Murecho', sans-serif;
  margin-left: 2%;
  margin-right: 4%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  background-color: hsla(0, 0%, 7%, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}


li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}



/* =====================================
スクロールバー */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffe6ea;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  scrollbar-width: thin;
  width: 50px;
  border-radius: 5px;
}
