/* ============================================
サイトロゴ */
.siteLogo {
    margin-left: 10px;
    padding: 10px 0px 8px 0px;
    padding-bottom: 17px;
    position: fixed;
    z-index: 10;
    top: 0;
}

/* ============================================
フレックス */

.flexItems {
    display: flex;
    flex-direction: column;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "M PLUS 1p";
    margin-top: 15px;
    position: fixed;
    top: 0;
    right: 0;
}

.flexItems .item {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    opacity: 0.8;
}


/* ============================================
検索バー */

.searchForm {
    margin-right: 100px;
}

.searchBar {
    padding: 10px 300px 10px 0px;
    border: 1px solid #484848;
    background-color: #212121;
}

.searchBar:focus {
    outline: none;
}

.searchButton {
    padding: 10px;
    border: 1px solid #484848;
    background-color: #424242;
}

/* ===========================================
ヘッダーコンテンツ */
.headerContents {
    display: flex;
    text-align: center;
    width: 400px;
    display: flex;
    position: fixed;
    z-index: 10;
    right: 2%;
}

.headerContents li {
    color: #fff;
    width: 100px;
    margin-top: 20px;
}

.headerContents a {
    display: block;
}
