/* ============================================
サイトロゴ */
.siteLogo {
    margin-left: 100px;
    width: 100vw;
    padding: 10px 0px 8px 30px;
    padding-bottom: 17px;
    filter: drop-shadow(0px 0px 5px #000);
}

/* ============================================
フレックス */

.flexItems {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "M PLUS 1p";
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 170px;
    position: fixed;
    top: 0;
    right: 0;
}

.flexItems .item {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    opacity: 0.8;
}


/* ============================================
検索バー */

.searchForm {
    margin-right: 100px;
}

.searchBar {
    padding: 10px 300px 10px 0px;
    border: 1px solid #484848;
    background-color: #212121;
}

.searchBar:focus {
    outline: none;
}

.searchButton {
    padding: 10px;
    border: 1px solid #484848;
    background-color: #424242;
}

/* ===========================================
ヘッダーコンテンツ */
.headerContents {
    text-align: center;
    display: flex;
    position: fixed;
    z-index: 10;
    right: 0;
    margin-right: 2px;
}

.headerContents li {
    color: #fff;
    width: 130px;
    border-left: 2px solid #cfcfcf;
    padding: 17px 22px 17px 20px;
}

.headerContents li:nth-last-child(1) {
    border-right: 2px solid #cfcfcf;
}

.headerContents a {
    display: block;
}
