[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-taggit = "*"
django-allauth = "==0.45.0"
djangorestframework = "==3.12.1"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "==4.8.0"
dj-rest-auth = "==2.1.2"

Pillow = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
