.sidebar {
    background-color: #FBF3E4;
    position: fixed;
    width: 25%;
    height: 100vh;
    border-right: 1px solid #aaa;
}

.logo {
    margin-top: 20px;
}

.wrapper {
    text-align: left;
    margin-top: 90px;
    margin-left: 200px;
}

.wrapper li {
    margin-bottom: 30px;
}

.wrapper a {
    display: block;
}

.wrapper span {
    font-size: 20px;
    color: black;
    vertical-align: middle;
    margin-left: 15px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
