.background {
  background-color: #000;
  width: 240px;
  height: 240px;
  text-align: center;
  overflow: hidden;
}

.thumbnail {
  margin-top: 3px;
}

.text {
  font-family: 'M PLUS 1p', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  text-align: left;
  margin: 8px 3px 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color:#fff;
}
